{% extends 'base.html' %}

{% block title %}
{% if gearitemgroup.name %}
{{gearitemgroup.name}} bearbeiten
{% else %}
Neues Modul erstellen
{% endif %}
{% endblock %}

{% block heading %}
{% if gearitemgroup.name %}
{{gearitemgroup.name}} bearbeiten
{% else %}
Neues Modul erstellen
{% endif %}
{% endblock %}

{% block content %}

<form method="post">
    {% csrf_token %}
    <div class="generic-form-wrapper">
        {{ form.as_p }}
        <button type="submit" class="btn">Speichern</button>
    </div>
</form>

{% endblock %}

