{% extends 'base.html' %}

{% block title %}Öffentliche Ausrüstungsgegenstände {% if category %}| {% endif %}{{category}}{% endblock %}
{% block heading %}
<h1>
    <a href="{% url 'listPublicItems' %}" class="item-link">Öffentliche Ausrüstungsgegenstände</a>
    {% if category is not None %}
        |
        {% include "gear/category.html" with cat=category linkclass="item-link" isPublic=True separator="|" %}
    {% endif %}
</h1>
{% endblock %}

{% block script %}
{% load static %}
<script src="{% static 'gear/grayout.js' %}"></script>
{% endblock %}

{% block content %}
<table>
    <tr>
        <th>Name</th>
        <th>Hersteller</th>
        <th class="least-important-col">Kategorie</th>
        <th class="less-important-col">min. Gewicht</th>
        <th class="less-important-col">max. Gewicht</th>
        <th>Auswahl</th>
    </tr>
    {% for it in gearitem_list %}
    <tr class="{% cycle 'table-zebra-bright' 'table-zebra-dark' %}">
            <td><a href="{% url 'showItem' it.id %}" class="item-link">{{it.name}}</a></td>
            <td>{{it.manufacturer}}</td>
            <td class="least-important-col">{% include "gear/category.html" with cat=it.category linkclass="item-link" separator='>' isPublic=True %}</td>
            <td class="less-important-col">{{it.minWeight}}&#x202F;g</td>
            <td class="less-important-col">{% firstof it.maxWeight it.minWeight %}&#x202F;g</td>
            <td class="narrow-col">
                <input type="checkbox" name="addItem" value="{{it.id}}" id="{{it.name}}" form="addToPersonal" onchange="grayOutIfNoneSelected(this, 'addToPersonalButton')"></input>
            </td>
        </tr>
    {% endfor %}
</table>
<div class="flex">
    <form action="{% url 'createItem' %}" id="editForm">
        <button type="submit" class="btn flex-child">Neuen Gegenstand erfassen</button>
    </form>
    <form action="{% url 'addItemToPersonal' %}" name="addToPersonal" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-grayout flex-child" id="addToPersonalButton">Zu meinen Gegenständen hinzufügen</button>
    </form>
</div>
{% endblock %}
