{% extends 'base.html' %}

{% block title %}
{{packinglist.name}}
{% endblock %}

{% block script %}
{% load static %}
<script src="{% static 'gear/packinglist.js' %}"></script>
{% endblock %}

{% block heading %}{{packinglist.name}}{% endblock %}

{% block content %}

<div class="flex">
    <form action="{% url 'editPackingList' packinglist.id %}">
        <button type="submit" class="btn flex-child">Bearbeiten</button>
    </form>
    <form action="{% url 'deletePackingList' packinglist.id %}" method="post">
        {% csrf_token %}
        <input type="hidden" value="{{packinglist.id}}"/>
        <button type="submit" class="btn">Löschen</button>
    </form>
    <form action="{% url 'savePacked' %}" name="savePacked" id="savePacked" method="post">
        {% csrf_token %}
        <input type="hidden" name="listId" value="{{packinglist.id}}"/>
        <button type="submit" class="btn accent">Speichern</button>
    </form>
</div>
<div>
<table>
    <thead>
        <tr>
            <th>Eingepackt</th>
            <th>Anzahl</th>
            <th>Bezeichnung</th>
            <th class="least-important-col">Hersteller</th>
            <th class="least-important-col">Modul</th>
            <th class="less-important-col">Gewicht min [g]</th>
            <th class="less-important-col">Gewicht max [g]</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for rel in relations %}
        <tr class="packinglist-items-table {% cycle 'table-zebra-bright' 'table-zebra-dark' %}">
                <td>
                    <input type="checkbox" form="savePacked" name="isPacked" value="{{rel.id}}" {% if rel.isPacked %}checked{% endif %} onclick="savePackedFunction()"/>
                </td>
                <td>
                    <form action="{% url 'saveCardinality' packinglist.id %}" name="saveCardinality{{rel.id}}" method="post">
                        {% csrf_token %}
                        <input type="number" id="count{{rel.id}}" name="count" onchange="saveCardinality(this)" value="{{rel.count}}" class="packinglist-item-count">
                        <input type="hidden" name="relationId" value="{{rel.id}}">
                    </form>
                </td>
                <td><a href="{% url 'showItem' rel.item.id %}" class="item-link">{{rel.item.name}}</a></td>
                <td class="least-important-col">{{rel.item.manufacturer}}</td>
                <td class="least-important-col">{{rel.addedByGroup|default_if_none:""}}</td>
                <td class="less-important-col">{{rel.item.minWeight|multiplyBy:rel.count}}</td>
                <td class="less-important-col">{{rel.item.maxWeight|default_if_none:rel.item.minWeight|multiplyBy:rel.count}}</td>
                <td>
                    <form action="{% url 'removeItem' packinglist.id %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="relationId" value="{{rel.id}}"/>
                        <input type="submit" value="x" class="btn btn-small"/>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>

<div class="add-to-packing-list">
    <form action="{% url 'addItem' packinglist.id %}" class="form-inline well" method="post">
        {% csrf_token %}
        <div class="form-group">
            <select name="itemId" id="itemId" class="form-control">
                {% for it in possibleItems %}
                <option value="{{it.id}}">{{it.name}}</option>
                {% endfor %}
            </select>
            <button class="btn">Gegenstand hinzufügen</button>
        </div>
    </form>
    <form action="{% url 'addGroup' packinglist.id %}" class="form-inline well" method="post">
        {% csrf_token %}
        <div class="form-group">
            <select name="groupId" id="groupId" class="form-control">
                {% for group in groups %}
                <option value="{{group.id}}">{{group.name}}</option>
                {% endfor %}
            </select>
            <button class="btn">Gruppe hinzufügen</button>
        </div>
    </form>
</div>

<table>
    <tr>
        <th></th>
        <th>Aktuell</th>
        <th>Gesamt</th>
    </tr>
    <tr class="table-zebra-dark">
        <td>Minimales Gewicht:</td>
        <td>{{weights.currentMinWeight}}&#x202F;g</td>
        <td>{{weights.totalMinWeight}}&#x202F;g</td>
    </tr>
    <tr class="table-zebra-bright">
        <td>Maximales Gewicht:</td>
        <td>{{weights.currentMaxWeight}}&#x202F;g</td>
        <td>{{weights.totalMaxWeight}}&#x202F;g</td>
    </tr>
</table>
{% endblock %}

